.listing {
  background: var(--accent-color);
  border-radius: 30px;
  /*padding-bottom: 30px;*/

  display: flex;
  flex-direction: row;
  align-items: center;
}
.listing-original {
  color: var(--primary-color);
  /*padding: 10px 20px 0 20px;*/
}
.listing-short {
  /*padding: 10px 20px 20px 20px;*/
}
.listing-id {
  margin: 20px;
}